<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Książka kucharska</title>
</head>
<body>

<h1>Książka kucharska</h1>

<a href="/">Powrót na stronę główną</a>

<form action="/add" method="post" th:object="${cookingRecipeToEdit}">

    <input type="hidden" th:field="*{id}"/>

    <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input type="text" class="form-control" id="name" th:field="*{name}">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">opis</label>
        <input type="text" class="form-control" id="description" th:field="*{description}">
    </div>

    <div class="mb-3">
        <label for="category" class="form-label">kategoria</label>
        <input type="text" class="form-control" id="category" th:field="*{category}">
    </div>

    <div class="mb-3">
        <label for="likeNumber" class="form-label">ilość polubień</label>
        <input type="text" class="form-control" id="likeNumber" th:field="*{likeNumber}">
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3">Dodaj</button>
    </div>


</body>
</html>